@font-face
{
	font-family: visitor;
	src: url("assets/visitor1.ttf");
}
.horde-body{
	margin: 0;
	padding: 0;
	font: normal 10px visitor;
	color: #99999A;
	background: url("assets/images/bg.png") repeat;
	text-shadow: 0 0 2px #000;
	text-shadow: 0 0 2px rgba(0,0,0,0.65);
}

.header{
	height: 25px;
	background: #414143;
}


#flowchart{
	display: none;
}

.content1{
	display: none;
}

.content2{
	display: none;
}	

.content3{
	display: none;
}		

.formOption{
	background: #414143;
}

.agentTitle{
	left: 530px;
	height: 25px;
	position: absolute;
}

.behaviourTitle{
	left: 530px;
	height: 25px;
	position: absolute;
	display: none;
}


.envTitle{
	right: 95px;
	top: 25px;
	position: absolute;
}


.option{
	width: 162px;
	height: 45px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	margin: 10px;
	cursor: hand;
	position: relative;
}

.save{
	width: 162px;
	height: 45px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	float: left;
	margin-left: 300px;
	cursor: hand;
	position: absolute;
}

.clear{
	width: 162px;
	height: 45px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	float: left;
	margin-left: 300px;
	cursor: hand;
	position: absolute;
}

.clear.inner{
	width: 162px;
	height: 45px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	margin: 10px;
	cursor: hand;
	position: relative;
}

.save.inner{
	width: 162px;
	height: 45px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	margin: 10px;
	cursor: hand;
	position: relative;
}

.option .inner{
	box-shadow: inset 0 21px 0px -20px #545456;
	padding:0 0 0 30px;
	width: 132px;
	height: 45px;
	border-radius: 4px;
	
}

.outer{
	box-shadow: inset 0 21px 0px -20px #545456;
	padding:0 0 0 30px;
	width: 132px;
	height: 45px;
	border-radius: 4px;
	position: absolute;
}

.new{
	margin: 5%;
	}
	


.option:after{
	height: 45px;
	width:5px;
	content: " ";
	display: block;
	position: absolute;
	left:10px;
	top:0px;
	background-color: #83CF83;
}


.clear:after{
	height: 45px;
	width:5px;
	content: " ";
	display: block;
	position: absolute;
	left:10px;
	top:0px;
	background-color: ;
}

.save:after{
	height: 45px;
	width:5px;
	content: " ";
	display: block;
	position: absolute;
	left:10px;
	top:0px;
	background-color: ;
}



.option.opt_green:after, .sig-bit.opt_green{
	background-color: #83CF83; 
}
.option.opt_blue:after, .sig-bit.opt_blue{
	background-color: #0CF;

}
.option.opt_orange:after, .sig-bit.opt_orange{
	background-color: orange; 
}
.option.opt_magenta:after, .sig-bit.opt_magenta{
	background-color: #FA92FA; 
}

.clear.opt_red:after, .sig-bit.opt_red{
	background-color: #E82929; 
}

.save.opt_green2:after, .sig-bit.opt_green2{
	background-color: #408E2F; 
}

.resetBehaviour{
	position: absolute;
	left: 20px;
	top: 10px;
	cursor: pointer;
}

.containerClose{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}


#agent{
	width: 800px;
	height: 500px;
	margin-top: 25px;
	background: #2D2C31;
	position: absolute;
	left:200px;
	top: 40px;
	border-radius: 4px;
	box-shadow: inset 0 2px 9px 0px #000;
	box-shadow: inset 0 2px 9px 0px rgba(0,0,0,0.57);
	border: 1px solid #545456;
}

      #container {
      	border-radius: 4px;
		box-shadow: inset 0 2px 9px 0px #000;
		box-shadow: inset 0 2px 9px 0px rgba(0,0,0,0.57);
		border: 1px solid #545456;
		position: absolute;
		left:200px;
		top: 65px;
        width: 800px;
        height: 500px;
		background: #2D2C31;
      }

.envContainer{
	width: 200px;
	height: 500px;
	margin-top: 25px;
	background: #2D2C31;
	position: absolute;
	left:1100px;
	top: 40px;
	border-radius: 4px;
	box-shadow: inset 0 2px 9px 0px #000;
	box-shadow: inset 0 2px 9px 0px rgba(0,0,0,0.57);
	border: 1px solid #545456;
}

#agent-canvas{
	margin-top: 25px;
	width: 800px;
	height:500px;
}
.agent{
	width: 110px;
	height: 120px;
	background: url('assets/images/agent.png') no-repeat;
	background-size: 110px 120px;
	position: absolute;
	left:345px;
	top: 200px;
	/*transform-origin: 50% 50%;*/
}
.sig{
	height: 10px;
	position: absolute;
	bottom: 10px;
	left:10px;
	transition: height 200ms;
	overflow: hidden;
}
.sig:hover{
	height: 30px;
}
.sig-bit{
	width:10px;
	height:30px;
	float: left;
	margin-left:1px;
	-webkit-transition: width 200ms;
	transition: width 200ms;
}
.sig-bit:hover{
	width: 30px!important;
}
.modal{
	width: 192px;
	line-height: 45px;
	box-shadow: 1px 1px 2px #000;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.65);
	background: #414143;
	border-radius: 4px;
	margin: 10px;
	position: absolute;
}



.modal .inner{
	box-shadow: inset 0 21px 0px -20px #545456;
	padding:20px 30px 30px;
	width: 132px;
	border-radius: 4px;
}
.modal .inner .holder{
	width: 132px;
	position: relative;
}
.ui-slider{
	background:#1E1E20;
	box-shadow: inset 0 -9px 2px -9px #BABAC2;
	height: 7px
}
.ui-slider-handle{
	display:block;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	border:4px solid #BABAC2;
	position: absolute;
	background:#1E1E20;
	top:-2px;
}
::selection{
	background: none;
}
.ui-slider-handle:focus{
	outline:none;
}
.modal p{
	margin: 0;
	line-height: 2;
}
.modal .closer{
	content:"x";
	position: absolute;
	top:10px;
	right: 10px;
	font-weight: bold;
	background: linear-gradient(to bottom, #FF0505 0%, #720000 100%);
	width: 14px;
	height: 14px;
	border-radius: 100%;
	line-height: 14px;
	text-align: center;
	color:#FFF;
	cursor: hand;
}
.modal input{
	font-family: visitor;
	font-size:1em;
	background: transparent;
	border: 0;
	padding: 5px 0px;
	width: 132px;
	color: #99999A;
	text-shadow: 0 0 2px #000;
	text-shadow: 0 0 2px rgba(0,0,0,0.65);
	margin: 0 0 10px;
	position: absolute;
	top:5px;
	left:10px;
}
.modal input:focus{
	background: #1E1E20;
	padding-left:5px;
}

      .item {
      	position: fixed;
        border: 1px solid black;
        background-color: #2D2C31;
        
        height: 50px;
        

      }
 
body
{
background: #336699; 
text-align: center;
}

.title {
  
  cursor: move;
  color: #336699;
  font-weight:bold;
  top: 30px;

}
    
.connect {
  width: 33%;
  height: 20px;
  top: 30px;
  background-color: green;
  cursor: pointer;
  position: absolute;
}

.connect2 {
  width: 33%;
  height: 20px;
  top: 30px;
  left: 33px;
  background-color: grey;
  cursor: pointer;
  position: absolute;
}

.connect3 {
  width: 34%;
  height: 20px;
  top: 30px;
  left: 66px;
  background-color: red;
  cursor: pointer;
  position: absolute;

.back {
margin-top: 38%;
margin-left: 25%;
float: left;
}

.save {
margin-top: 38%;
margin-right: 25%;
float: right;
}

.expand {
	cursor: pointer;
}
